<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Team Oceania" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css" />
    
    <!-- Carousel dependencies -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <meta name="theme-color" content="#f8f3e9" />
  </head>
  <body>
    <nav>
      <ul id="leading-nav">
        <li>
          <a href="/">
            <img class="logo" src="/icons/skippy.png" />
            <span class="hidden-on-mobile">Team Australia</span>
          </a>
        </li>
      </ul>
      <ul id="trailing-nav">
        <li>
          <a href="/players">
            Players
          </a>
        </li>
        <li>
          <a href="https://discord.com/invite/yq5anhRAJP">
            <img class="icon" src="/icons/fontawesome/discord.svg" />
            Discord
          </a>
        </li>
        <li>
          <a href="mailto:sponsor@oceaniacc.com">
            <img class="icon" src="/icons/fontawesome/envelope.svg" />
            Contact
          </a>
        </li>
      </ul>
    </nav>

    <main>
      {{- block "main" . }}{{- end }}
    </main>
  </body>
</html>
