{{ define "main" }}
  <section id="hero-section">
    <div class="row">
      <img class="skippy-flank" src="icons/skippy.png" />
      <div>
        <h1><span class="hidden-on-mobile">ECSC</span> Team Australia 2026</h1>
        <div class="button-row">
          <a
            class="button"
            href="attachments/Team Australia - Sponsorship Prospectus ECSC 2026.pdf"
          >
            Sponsorship prospectus
          </a>
        </div>
      </div>
      <img class="skippy-flank" src="icons/skippy.png" />
    </div>
  </section>

  <section id="about-section">
    <h2>About</h2>
    <p>
      Team Australia is a team of 8-10 cybersecurity students and young professionals
      from across Australia.
    </p>
    <p>
      The team has represented Australia on the global stage
      at the European Cybersecurity Challenge (ECSC) each year since first being invited in 2024.
    </p>
    <p>
      Team Australia participants are selected from the Team Oceania talent pool
      as funding allows, and additional self-funded players are invited if funding falls short.
    </p>
  </section>

  <section id="performance-section">
    <h2>Our performance</h2>
    <p>
      Team Australia's best overall result at ECSC was <b>13th out of 37 teams</b> in 2024.
      Medals for guest teams are handed out based off their placing on the guest team scoreboard.
    </p>
    <h3>Placings out of guest teams</h3>
    <div class="card-grid">
      <div class="placing-card">
        <div class="placing-icon">
          <img src="icons/medals/third_place.png" />
        </div>
        <div class="placing-year">2024 (5 guest teams)</div>
        <div class="placing-location">Torino, Italy</div>
      </div>
      <div class="placing-card">
        <div class="placing-icon">
          <img src="icons/medals/third_place.png" />
        </div>
        <div class="placing-year">2025 (6 guest teams)</div>
        <div class="placing-location">Warsaw, Poland</div>
      </div>
    </div>
  </section>

  <section id="sponsors-section">
    <h2 class="sponsor-title">Sponsors</h2>
    <!-- <h3 class="sponsor-gold">Gold</h3> -->
    <div class="card-grid">
      <div class="sponsor-logo">
        <img class="sponsor-img" src="icons/sponsors/placeholder.jpg" />
      </div>
    </div>
    <!-- <h3 class="sponsor-silver">Silver</h3> -->
    <!-- <div class="card-grid"> -->
      <!-- <div class="sponsor-logo"> -->
        <!-- <img class="sponsor-img" src="icons/sponsors/placeholder.jpg" /> -->
      <!-- </div> -->
    <!-- </div> -->
  </section>

  <section id="players-section">
    <h2>The Team</h2>
    <p style="text-align: center">Click on any of our talented players to find out more about them!</p>
    <div class="card-grid">
      <a href="/players/stackotter">
        <div class="entity-card">
          <img src="icons/players/stackotter.png" />
          <div class="entity-name">stackotter</div>
        </div>
      </a>
      <a href="/players/apender">
        <div class="entity-card">
          <img src="icons/players/apender.png" />
          <div class="entity-name">APender</div>
        </div>
      </a>
      <a href="/players/evine">
        <div class="entity-card">
          <img src="icons/players/Evine.webp" />
          <div class="entity-name">Evine</div>
        </div>
      </a>
      <a href="/players/jayden">
        <div class="entity-card">
          <img src="icons/players/Jayden.webp" />
          <div class="entity-name">Jayden</div>
        </div>
      </a>
      <a href="/players/pl4nty">
        <div class="entity-card">
          <img src="icons/players/pl4nty.webp" />
          <div class="entity-name">pl4nty</div>
        </div>
      </a>
      <a href="/players/sealldev">
        <div class="entity-card">
          <img src="icons/players/sealldev.png" />
          <div class="entity-name">sealldev</div>
        </div>
      </a>
      <a href="/players/teddy">
        <div class="entity-card">
          <img src="icons/players/teddy.webp" />
          <div class="entity-name">teddy</div>
        </div>
      </a>
    </div>
  </section>
{{ end }}
