{{ define "main" }}
  <div id="content" style="position: relative;">
    <img style="position: absolute; left: -10rem" src="/icons/players/{{ .Params.icon }}" class="player-pfp" />
    <div>
      <h2 style="margin-bottom: 0.5rem">{{ .Params.handle }}</h2>
      {{ if .Params.name }}
        <h3>(aka {{ .Params.name }})</h3>
      {{ end }}
      {{ if .Params.website }}
        Website: <a href="{{ .Params.website }}">{{ .Params.website }}</a>
      {{ end }}
    </div>
    {{ .Content }}
    <a href="/players">Back to players</a>
  </div>
{{ end }}
