:root {
  --accent: #357a43;
  --light-accent: #85ba93;
  --light-fg: #ffffff;
  --dark-fg: #000000;
  --nav-link: #000000;
  --page-bg: #f8f3e9;
  --nav-bg: var(--page-bg);
  --nav-height: 4rem;
  --max-hero-image-width: 200ch;
  --skippy-yellow: #fed70a;
  --content-width: min(80ch, 95vw);
}

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

.icon {
  height: 1.5rem;
}

body {
  position: relative;
  background: var(--page-bg);
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  height: var(--nav-height);
  background: var(--nav-bg);
  padding: 0 1.5rem;
  box-sizing: border-box;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.3);

  /* blurred background */
  backdrop-filter: blur(10px);
}

nav a {
  text-decoration: none;
  color: var(--nav-link);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.8rem;
  margin: 0;
  padding: 0;
}

nav .logo {
  height: 3rem;
}

.swiper {
  width: var(--content-width);
  height: calc(var(--content-width) * 0.6);
  background: black;
}

.swiper-slide {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slide-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 1rem 1.5rem;
  background: #0008;
  text-align: left;
  font-size: 1.5rem;
}

.swiper img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  margin-top: 0;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

section h2 {
  background: var(--accent);
  color: white;
  width: 100%;
  padding: 1rem calc(50% - 40rem * 0.63);
  text-align: left;
  box-sizing: border-box;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

main {
  text-align: center;
}

section {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

section p {
  width: var(--content-width);
  padding: 0 0.5rem;
  box-sizing: border-box;
  text-align: left;
  margin: auto;
  margin-bottom: 1rem;
}

section p:last-child {
  margin-bottom: 0;
}

#hero-section {
  position: relative;
  padding-top: calc(5rem + var(--nav-height));
  padding-bottom: 5rem;
  color: white;
}

.overlay {
  z-index: 1;
}

#content {
  padding-top: 2rem;
  min-height: 100vh;
  width: min(80ch, 95%);
  text-align: left;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: auto;
}

.underlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

#hero-image {
  width: 100%;
  height: 100%;
  max-width: var(--max-hero-image-width);
  object-fit: cover;
  object-position: top;
}

#hero-image-overlay {
  position: absolute;
  top: 0;
  left: calc(50% - min(50%, var(--max-hero-image-width) * 0.5));
  width: 100%;
  height: 100%;
  max-width: var(--max-hero-image-width);
  background: #00000050;
}

.overlay {
  z-index: 1;
}

.button-row {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background: var(--skippy-yellow);
  color: black;
  padding: 0.75rem 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}

.card-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  flex-wrap: wrap;
  max-width: 80ch;
}

.placing-card,
.entity-card {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.entity-name {
  text-decoration: none !important;
}

.placing-icon {
  font-size: 3rem;
  height: 4rem;
}

.placing-icon img {
  height: 4rem;
}

#performance-section .card-grid {
  align-items: end;
}

.entity-card {
  gap: 0.6rem;
}

.entity-card img {
  width: 6rem;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 12px;
}

.sponsor-title {
  font-size: 1.8rem;
}

.sponsor-img {
  height: 8rem;
  background: white;
}

.entity-card img.sponsor-logo {
  box-shadow: none;
}

.text-block {
  font-size: 1.25rem;
  margin: 5vh 20vh;
}

.platinum-sponsor-group h3 {
  color: #c0c0c0;
  font-size: 1.7rem;
}

.platinum-sponsor-group .sponsor-img {
  height: 12rem;
}

.gold-sponsor-group h3 {
  color: #d3af37;
  font-size: 1.7rem;
}

.gold-sponsor-group .sponsor-img {
  height: 10rem;
}

.silver-sponsor-group h3 {
  color: #c0c0c0;
  font-size: 1.7rem;
}

.silver-sponsor-group .sponsor-img {
  height: 8rem;
}

.video-embed {
  width: var(--content-width);
  margin: auto;
}

.player-pfp {
  width: 8rem;
}

@media only screen and (max-width: 560px) {
  .hidden-on-mobile {
    display: none;
  }

  nav {
    font-size: 1rem;
    height: 3rem;
    padding: 0 1rem;
  }

  nav .logo {
    height: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  section h2 {
    padding: 1rem;
  }

  #hero-section {
    padding: 2.5rem;
  }

  #hero-section .button-row {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
  }

  .placing-icon {
    font-size: 2rem;
    height: 4rem;
  }

  .placing-icon img {
    height: 4rem;
  }

  .placing-card {
    font-size: 0.8rem;
  }

  #performance-section {
    padding-left: 0;
    padding-right: 0;
  }

  #performance-section .card-grid {
    gap: 0.8rem;
  }

  .card-grid {
    gap: 1rem;
  }

  .entity-card {
    font-size: 0.8rem;
  }

  .sponsor-img {
    height: 8rem !important;
  }

  .sponsor-row {
    flex-wrap: wrap !important;
    flex-direction: column;
  }

  .slide-caption {
    font-size: 1rem;
  }
}
